In [96]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark'

In [97]:
from pyspark.sql import SparkSession

In [98]:
spark = SparkSession.builder.appName('GlenCoursework').getOrCreate()

In [99]:
dataset = spark.read.csv('test.csv',header=True,inferSchema=True)

In [100]:
dataset.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Customer Type: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Type of Travel: string (nullable = true)
 |-- Class: string (nullable = true)
 |-- Flight Distance: integer (nullable = true)
 |-- Inflight wifi service: integer (nullable = true)
 |-- Departure/Arrival time convenient: integer (nullable = true)
 |-- Ease of Online booking: integer (nullable = true)
 |-- Gate location: integer (nullable = true)
 |-- Food and drink: integer (nullable = true)
 |-- Online boarding: integer (nullable = true)
 |-- Seat comfort: integer (nullable = true)
 |-- Inflight entertainment: integer (nullable = true)
 |-- On-board service: integer (nullable = true)
 |-- Leg room service: integer (nullable = true)
 |-- Baggage handling: integer (nullable = true)
 |-- Checkin service: integer (nullable = true)
 |-- Inflight service: integer (nullable = true)
 |-- Cleanliness: integer (nullable = true)
 |-- Departure Delay in Minutes: integer (nullable = true)
 |-- Arrival Delay in Minutes: double (nullable = true)
 |-- satisfaction: string (nullable = true)

In [101]:
dataset.toPandas()

,_c0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [102]:
from pyspark.ml.clustering import KMeans

In [103]:
from pyspark.ml.feature import VectorAssembler

In [104]:
dataset.columns

['_c0',
 'id',
 'Gender',
 'Customer Type',
 'Age',
 'Type of Travel',
 'Class',
 'Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes',
 'satisfaction']

In [181]:
dataset.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Customer Type: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Type of Travel: string (nullable = true)
 |-- Class: string (nullable = true)
 |-- Flight Distance: integer (nullable = true)
 |-- Inflight wifi service: integer (nullable = true)
 |-- Departure/Arrival time convenient: integer (nullable = true)
 |-- Ease of Online booking: integer (nullable = true)
 |-- Gate location: integer (nullable = true)
 |-- Food and drink: integer (nullable = true)
 |-- Online boarding: integer (nullable = true)
 |-- Seat comfort: integer (nullable = true)
 |-- Inflight entertainment: integer (nullable = true)
 |-- On-board service: integer (nullable = true)
 |-- Leg room service: integer (nullable = true)
 |-- Baggage handling: integer (nullable = true)
 |-- Checkin service: integer (nullable = true)
 |-- Inflight service: integer (nullable = true)
 |-- Cleanliness: integer (nullable = true)
 |-- Departure Delay in Minutes: integer (nullable = true)
 |-- Arrival Delay in Minutes: double (nullable = true)
 |-- satisfaction: string (nullable = true)

In [105]:
my_cols=['Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes',
]
df=dataset.select(my_cols)
df.toPandas()

,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,160,5,4,3,4,3,4,3,5,5,5,5,2,5,5,50,44.0
1,2863,1,1,3,1,5,4,5,4,4,4,4,3,4,5,0,0.0
2,192,2,0,2,4,2,2,2,2,4,1,3,2,2,2,0,0.0
3,3377,0,0,0,2,3,4,4,1,1,1,1,3,1,4,0,6.0
4,1182,2,3,4,3,4,1,2,2,2,2,2,4,2,4,0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,526,3,3,3,1,4,3,4,4,3,2,4,4,5,4,0,0.0
25972,646,4,4,4,4,4,4,4,4,4,5,5,5,5,4,0,0.0
25973,828,2,5,1,5,2,1,2,2,4,3,4,5,4,2,0,0.0
25974,1127,3,3,3,3,4,4,4,4,3,2,5,4,5,4,0,0.0
25975,264,2,5,2,5,4,2,2,1,1,2,1,1,1,1,0,0.0

In [173]:
df.columns

['Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes']

In [123]:
df1=df.na.drop()
df1.show()

+---------------+---------------------+---------------------------------+----------------------+-------------+--------------+---------------+------------+----------------------+----------------+----------------+----------------+---------------+----------------+-----------+--------------------------+------------------------+
|Flight Distance|Inflight wifi service|Departure/Arrival time convenient|Ease of Online booking|Gate location|Food and drink|Online boarding|Seat comfort|Inflight entertainment|On-board service|Leg room service|Baggage handling|Checkin service|Inflight service|Cleanliness|Departure Delay in Minutes|Arrival Delay in Minutes|
+---------------+---------------------+---------------------------------+----------------------+-------------+--------------+---------------+------------+----------------------+----------------+----------------+----------------+---------------+----------------+-----------+--------------------------+------------------------+
|            160|                    5|                                4|                     3|            4|             3|              4|           3|                     5|               5|               5|               5|              2|               5|          5|                        50|                    44.0|
|           2863|                    1|                                1|                     3|            1|             5|              4|           5|                     4|               4|               4|               4|              3|               4|          5|                         0|                     0.0|
|            192|                    2|                                0|                     2|            4|             2|              2|           2|                     2|               4|               1|               3|              2|               2|          2|                         0|                     0.0|
|           3377|                    0|                                0|                     0|            2|             3|              4|           4|                     1|               1|               1|               1|              3|               1|          4|                         0|                     6.0|
|           1182|                    2|                                3|                     4|            3|             4|              1|           2|                     2|               2|               2|               2|              4|               2|          4|                         0|                    20.0|
|            311|                    3|                                3|                     3|            3|             5|              5|           3|                     5|               4|               3|               1|              1|               2|          5|                         0|                     0.0|
|           3987|                    5|                                5|                     5|            5|             3|              5|           5|                     5|               5|               5|               5|              4|               5|          3|                         0|                     0.0|
|           2556|                    2|                                2|                     2|            2|             4|              4|           5|                     4|               4|               4|               4|              5|               4|          3|                        77|                    65.0|
|            556|                    5|                                2|                     2|            2|             5|              5|           5|                     5|               2|               2|               5|              3|               3|          5|                         1|                     0.0|
|           1744|                    2|                                2|                     2|            2|             3|              4|           4|                     4|               4|               4|               4|              5|               4|          4|                        28|                    14.0|
|           1235|                    4|                                1|                     1|            1|             5|              1|           5|                     3|               3|               4|               3|              1|               3|          4|                        29|                    19.0|
|            325|                    2|                                5|                     5|            5|             1|              3|           4|                     2|               2|               2|               2|              3|               2|          4|                        18|                     7.0|
|           1009|                    5|                                5|                     5|            5|             4|              5|           5|                     5|               5|               5|               5|              5|               5|          3|                         0|                     0.0|
|            451|                    1|                                1|                     4|            1|             5|              5|           4|                     5|               5|               5|               5|              3|               5|          5|                       117|                   113.0|
|            925|                    2|                                2|                     2|            2|             5|              5|           4|                     4|               4|               4|               4|              3|               4|          5|                        10|                     0.0|
|             83|                    3|                                4|                     0|            3|             2|              0|           2|                     2|               4|               2|               4|              4|               5|          2|                         5|                     2.0|
|            728|                    2|                                5|                     5|            5|             2|              2|           2|                     2|               4|               3|               3|              4|               3|          2|                         2|                     0.0|
|           1075|                    5|                                4|                     5|            3|             4|              5|           4|                     4|               3|               5|               5|              4|               5|          4|                         0|                     0.0|
|           1927|                    3|                                4|                     3|            1|             4|              4|           5|                     5|               5|               3|               5|              4|               5|          3|                         0|                     0.0|
|           3799|                    5|                                5|                     5|            5|             4|              5|           4|                     4|               4|               5|               4|              5|               4|          5|                         8|                     0.0|
+---------------+---------------------+---------------------------------+----------------------+-------------+--------------+---------------+------------+----------------------+----------------+----------------+----------------+---------------+----------------+-----------+--------------------------+------------------------+
only showing top 20 rows

In [124]:
assembler = VectorAssembler(inputCols=df1.columns,outputCol='features')

In [125]:
final_data = assembler.transform(df1)

In [126]:
final_data.printSchema()

root
 |-- Flight Distance: integer (nullable = true)
 |-- Inflight wifi service: integer (nullable = true)
 |-- Departure/Arrival time convenient: integer (nullable = true)
 |-- Ease of Online booking: integer (nullable = true)
 |-- Gate location: integer (nullable = true)
 |-- Food and drink: integer (nullable = true)
 |-- Online boarding: integer (nullable = true)
 |-- Seat comfort: integer (nullable = true)
 |-- Inflight entertainment: integer (nullable = true)
 |-- On-board service: integer (nullable = true)
 |-- Leg room service: integer (nullable = true)
 |-- Baggage handling: integer (nullable = true)
 |-- Checkin service: integer (nullable = true)
 |-- Inflight service: integer (nullable = true)
 |-- Cleanliness: integer (nullable = true)
 |-- Departure Delay in Minutes: integer (nullable = true)
 |-- Arrival Delay in Minutes: double (nullable = true)
 |-- features: vector (nullable = true)

In [127]:
from pyspark.ml.feature import StandardScaler

In [128]:
scaler = StandardScaler(inputCol='features',outputCol='scaledFeatures')

In [129]:
scaler_model = scaler.fit(final_data)

In [130]:
final_data =scaler_model.transform(final_data)

In [162]:
kmeans = KMeans(featuresCol='scaledFeatures',k=6)

In [163]:
model = kmeans.fit(final_data)

In [164]:
final_data.head(1)

[Row(Flight Distance=160, Inflight wifi service=5, Departure/Arrival time convenient=4, Ease of Online booking=3, Gate location=4, Food and drink=3, Online boarding=4, Seat comfort=3, Inflight entertainment=5, On-board service=5, Leg room service=5, Baggage handling=5, Checkin service=2, Inflight service=5, Cleanliness=5, Departure Delay in Minutes=50, Arrival Delay in Minutes=44.0, features=DenseVector([160.0, 5.0, 4.0, 3.0, 4.0, 3.0, 4.0, 3.0, 5.0, 5.0, 5.0, 5.0, 2.0, 5.0, 5.0, 50.0, 44.0]), scaledFeatures=DenseVector([0.1602, 3.7461, 2.6093, 2.1238, 3.1209, 2.2524, 2.9509, 2.2723, 3.7351, 3.9001, 3.7906, 4.2509, 1.5759, 4.235, 3.7897, 1.3446, 1.1728]))]

In [165]:
kmeans = KMeans(featuresCol='scaledFeatures',k=6)

In [166]:
model = kmeans.fit(final_data)

In [167]:
print('WSSSE')
print(model.summary.trainingCost)

WSSSE
275697.9234286864

In [168]:
centers = model.clusterCenters()

In [169]:
print(centers)

[array([1.17546828, 1.95153288, 1.92279216, 1.99061864, 2.30271524,
       2.44582279, 2.55096945, 2.64841216, 1.90562327, 1.62562093,
       1.74963105, 1.89690284, 2.19614274, 1.87603617, 2.397025  ,
       0.2833511 , 0.30474827]), array([0.70514034, 1.39275446, 1.77637322, 1.14887155, 2.20218649,
       3.02341545, 1.42537382, 2.9148693 , 3.05746296, 2.64788366,
       2.30474799, 3.19898938, 2.49746263, 3.28209007, 3.02814752,
       0.24797583, 0.26010867]), array([1.31997929, 3.06860282, 2.6499951 , 2.86894561, 3.01500049,
       2.79921817, 3.04487385, 3.08091293, 3.12522821, 3.08745464,
       2.94445592, 3.52087223, 2.8610191 , 3.52665709, 2.9439978 ,
       0.23569862, 0.24169341]), array([0.85569794, 1.79022334, 2.01393645, 1.84798674, 2.31083535,
       1.19183725, 1.71501922, 1.29443214, 1.29610259, 2.54119688,
       2.4713421 , 3.13556108, 2.46850449, 3.15639145, 1.18705711,
       0.27802197, 0.29054763]), array([1.19296926, 2.05191493, 1.96680036, 1.94562056, 2.33644291,
       2.2698908 , 2.31008099, 2.45983383, 2.4372852 , 2.51823056,
       2.66743503, 3.12973587, 2.50285595, 2.79008796, 2.44284688,
       4.71421247, 4.7094071 ]), array([1.94520905, 1.50170259, 1.20856827, 1.39863953, 1.39212568,
       2.72087184, 3.09819104, 3.21451195, 3.26652507, 3.33103162,
       3.17706607, 3.70078764, 3.0434698 , 3.68057197, 3.00181749,
       0.23870775, 0.24051753])]

In [171]:
model.transform(final_data).select('prediction').show()

+----------+
|prediction|
+----------+
|         2|
|         5|
|         3|
|         0|
|         0|
|         0|
|         2|
|         5|
|         2|
|         5|
|         1|
|         0|
|         2|
|         5|
|         5|
|         3|
|         3|
|         2|
|         5|
|         2|
+----------+
only showing top 20 rows

AttributeError: 'GroupedData' object has no attribute 'show'

#### Linear regression

In [183]:
columns_to_keep = ['Age','Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness']
dataset = dataset.select(*columns_to_keep)
dataset.show()

+---+---------------+---------------------+---------------------------------+----------------------+-------------+--------------+---------------+------------+----------------------+----------------+----------------+----------------+---------------+----------------+-----------+
|Age|Flight Distance|Inflight wifi service|Departure/Arrival time convenient|Ease of Online booking|Gate location|Food and drink|Online boarding|Seat comfort|Inflight entertainment|On-board service|Leg room service|Baggage handling|Checkin service|Inflight service|Cleanliness|
+---+---------------+---------------------+---------------------------------+----------------------+-------------+--------------+---------------+------------+----------------------+----------------+----------------+----------------+---------------+----------------+-----------+
| 52|            160|                    5|                                4|                     3|            4|             3|              4|           3|                     5|               5|               5|               5|              2|               5|          5|
| 36|           2863|                    1|                                1|                     3|            1|             5|              4|           5|                     4|               4|               4|               4|              3|               4|          5|
| 20|            192|                    2|                                0|                     2|            4|             2|              2|           2|                     2|               4|               1|               3|              2|               2|          2|
| 44|           3377|                    0|                                0|                     0|            2|             3|              4|           4|                     1|               1|               1|               1|              3|               1|          4|
| 49|           1182|                    2|                                3|                     4|            3|             4|              1|           2|                     2|               2|               2|               2|              4|               2|          4|
| 16|            311|                    3|                                3|                     3|            3|             5|              5|           3|                     5|               4|               3|               1|              1|               2|          5|
| 77|           3987|                    5|                                5|                     5|            5|             3|              5|           5|                     5|               5|               5|               5|              4|               5|          3|
| 43|           2556|                    2|                                2|                     2|            2|             4|              4|           5|                     4|               4|               4|               4|              5|               4|          3|
| 47|            556|                    5|                                2|                     2|            2|             5|              5|           5|                     5|               2|               2|               5|              3|               3|          5|
| 46|           1744|                    2|                                2|                     2|            2|             3|              4|           4|                     4|               4|               4|               4|              5|               4|          4|
| 47|           1235|                    4|                                1|                     1|            1|             5|              1|           5|                     3|               3|               4|               3|              1|               3|          4|
| 33|            325|                    2|                                5|                     5|            5|             1|              3|           4|                     2|               2|               2|               2|              3|               2|          4|
| 46|           1009|                    5|                                5|                     5|            5|             4|              5|           5|                     5|               5|               5|               5|              5|               5|          3|
| 60|            451|                    1|                                1|                     4|            1|             5|              5|           4|                     5|               5|               5|               5|              3|               5|          5|
| 52|            925|                    2|                                2|                     2|            2|             5|              5|           4|                     4|               4|               4|               4|              3|               4|          5|
| 50|             83|                    3|                                4|                     0|            3|             2|              0|           2|                     2|               4|               2|               4|              4|               5|          2|
| 31|            728|                    2|                                5|                     5|            5|             2|              2|           2|                     2|               4|               3|               3|              4|               3|          2|
| 52|           1075|                    5|                                4|                     5|            3|             4|              5|           4|                     4|               3|               5|               5|              4|               5|          4|
| 43|           1927|                    3|                                4|                     3|            1|             4|              4|           5|                     5|               5|               3|               5|              4|               5|          3|
| 50|           3799|                    5|                                5|                     5|            5|             4|              5|           4|                     4|               4|               5|               4|              5|               4|          5|
+---+---------------+---------------------+---------------------------------+----------------------+-------------+--------------+---------------+------------+----------------------+----------------+----------------+----------------+---------------+----------------+-----------+
only showing top 20 rows

In [184]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [186]:
assembler = VectorAssembler(inputCols=['Age','Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness'],outputCol="features")

In [187]:
output = assembler.transform(dataset)

In [188]:
output.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Flight Distance: integer (nullable = true)
 |-- Inflight wifi service: integer (nullable = true)
 |-- Departure/Arrival time convenient: integer (nullable = true)
 |-- Ease of Online booking: integer (nullable = true)
 |-- Gate location: integer (nullable = true)
 |-- Food and drink: integer (nullable = true)
 |-- Online boarding: integer (nullable = true)
 |-- Seat comfort: integer (nullable = true)
 |-- Inflight entertainment: integer (nullable = true)
 |-- On-board service: integer (nullable = true)
 |-- Leg room service: integer (nullable = true)
 |-- Baggage handling: integer (nullable = true)
 |-- Checkin service: integer (nullable = true)
 |-- Inflight service: integer (nullable = true)
 |-- Cleanliness: integer (nullable = true)
 |-- features: vector (nullable = true)

In [189]:
output.head(1)

[Row(Age=52, Flight Distance=160, Inflight wifi service=5, Departure/Arrival time convenient=4, Ease of Online booking=3, Gate location=4, Food and drink=3, Online boarding=4, Seat comfort=3, Inflight entertainment=5, On-board service=5, Leg room service=5, Baggage handling=5, Checkin service=2, Inflight service=5, Cleanliness=5, features=DenseVector([52.0, 160.0, 5.0, 4.0, 3.0, 4.0, 3.0, 4.0, 3.0, 5.0, 5.0, 5.0, 5.0, 2.0, 5.0, 5.0]))]

In [190]:
final_data = output.select('features','Age')

In [191]:
final_data.show()

+--------------------+---+
|            features|Age|
+--------------------+---+
|[52.0,160.0,5.0,4...| 52|
|[36.0,2863.0,1.0,...| 36|
|[20.0,192.0,2.0,0...| 20|
|[44.0,3377.0,0.0,...| 44|
|[49.0,1182.0,2.0,...| 49|
|[16.0,311.0,3.0,3...| 16|
|[77.0,3987.0,5.0,...| 77|
|[43.0,2556.0,2.0,...| 43|
|[47.0,556.0,5.0,2...| 47|
|[46.0,1744.0,2.0,...| 46|
|[47.0,1235.0,4.0,...| 47|
|[33.0,325.0,2.0,5...| 33|
|[46.0,1009.0,5.0,...| 46|
|[60.0,451.0,1.0,1...| 60|
|[52.0,925.0,2.0,2...| 52|
|[50.0,83.0,3.0,4....| 50|
|[31.0,728.0,2.0,5...| 31|
|[52.0,1075.0,5.0,...| 52|
|[43.0,1927.0,3.0,...| 43|
|[50.0,3799.0,5.0,...| 50|
+--------------------+---+
only showing top 20 rows

In [192]:
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [193]:
test_data.describe().show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|              7859|
|   mean| 39.47016159816771|
| stddev|15.139109565764796|
|    min|                 7|
|    max|                85|
+-------+------------------+

In [194]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(labelCol='Age')

In [195]:
lr_model = lr.fit(train_data)

In [196]:
test_results=lr_model.evaluate(test_data)

In [197]:
test_results.residuals.show()

C:\spark\python\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+--------------------+
|           residuals|
+--------------------+
|-1.59872115546022...|
|-3.37507799486047...|
|-4.35207425653061...|
|6.217248937900877...|
|-1.95399252334027...|
|-6.48370246381091...|
|-9.32587340685131...|
|-8.97060203897126...|
|-1.33226762955018...|
|-7.19424519957101...|
|-4.44089209850062...|
|-9.41469124882132...|
|-6.03961325396085...|
|-9.68114477473136...|
|-1.27897692436818...|
|-2.04281036531028...|
|-1.68753899743023...|
|-6.83897383169096...|
|-9.41469124882132...|
|-8.88178419700125...|
+--------------------+
only showing top 20 rows

In [198]:
test_results.meanSquaredError

3.02608970476446e-27

In [199]:
test_results.r2

1.0